html {
	
}
p, h1, a {
	font-family: "Calibri", sans-serif, serif;
}
h1, h2, h3, h4, h5, h6, p {
	color: #000;
}
#container {
	min-height: 100%;
}
#header {
	border-bottom: 1px solid #FFF;
	background: #56ACDB;
	height: 41px;
}
#headercontent {
	margin-left: 20%;
	margin-right: 20%;
}
#headercontent h1 {
	color: #FFF;
	display: table-cell;
	vertical-align: middle;
}
#menu {
	padding: 12px;
	background-color: #56ACDB;
}
#menu a {
	font-size: 18px;
	margin-right: 12px;
}
#menu td {
	
}
#menu a {
	color: #FFF;
}
#content {
	width: 60%;
	min-height: 100%;
	margin-left: 20%;
	margin-right: 20%;
	border-left: 1px dotted #CCC;
	border-right: 1px dotted #CCC;
	border-bottom: 1px dotted #CCC;
	overflow: hidden;
    zoom: 1;
    display: block;
}
#login, #register {
	margin: 0 auto;
	width: 35%;
	padding-top: 24px;
	padding-bottom: 24px;
}
#downloads {
	margin: 10px;
}
.download {
	border-bottom: 1px solid;
}